html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#73b2c6,#405490);
}

#mainw{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 40px 40px 40px 40px;
    background: rgba(19, 32, 2, 0.7);
    border-radius: 10px;
    color: #fff;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); */
    text-align: center;
    margin:0 auto;
  }
